@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

input, button {
  outline: none;
}

button {
  cursor: pointer;
}

input, button {
  border-radius: 8px;
}
